.cabecalhoPrincipal {
	background-color: #FFF;
	padding: 20px 0;
}

.cabecalhoPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.cabecalhoPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;

	border-bottom: 1px solid #9799A6;
}
